<section class="hero position-relative d-flex align-items-center justify-content-center">
    <div class="position-absolute w-100 h-100 overflow-hidden">
      <img src="assets/imgs/bg.jpg" alt="Beautiful landscape" class="w-100 h-100 object-fit-cover">
      <div class="overlay"></div>
    </div>
    <div class="position-relative text-center px-5" style="max-width: 800px;">
      <h1 class="display-5 fw-bolder text-success mb-4">
        Discover Your Next Adventure with GoLocal Guide
      </h1>
      
      <p class="fs-5 text-success-light mb-4 ">
        Your ultimate platform for local tourism experiences
      </p>
      <button class="fs-6 btn btn-success btn-sm rounded-pill px-5 py-3" (click)="navigateToDashboard()">
        <i class="bi bi-geo-alt-fill me-2"></i>
        <span class="fs-6">Start Exploring</span>
    </button>
    </div>
  </section>