.text-success {
    color: #059669 !important;
  }
  .bg-success {
    background-color: #059669 !important;
  }
  .text-success-light {
    color: #34D399 !important;
  }
  .bg-success-light {
    background-color: #34D399 !important;
  }