<section class="hero-section position-relative d-flex align-items-center text-start" [@fadeIn]>
    <div class="hero-background position-absolute w-100 h-100 overflow-hidden">
      <img src="assets/imgs/about.jpg" alt="About Us Background" class="w-100 h-100 object-fit-cover" />
      <div class="overlay"></div>
    </div>
    <div class="container position-relative z-3">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="position-relative z-1">
            <h1 class="fw-bold custom-about-us" [@slideIn]="{ value: '', params: { delay: '600ms' }}">
              Contact Us
            </h1>
            <p class="custom-discover mt-1 font-serif" [@slideIn]="{ value: '', params: { delay: '1000ms' }}">
              We’d love to hear from you! Reach out to us anytime
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  